@font-face {
    font-family: 'OpenSans';
    src: url('assets/fonts/OpenSans/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/OpenSans/OpenSans.woff') format('woff'),
        url('assets/fonts/OpenSans/OpenSans.ttf')  format('truetype'),
        url('assets/fonts/OpenSans/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}
