@-webkit-keyframes slideInTop {

    0% {
        transform: translateY(-90px);
        -webkit-transform: translateY(-90px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInTop {

    0% {
        transform: translateY(-90px);
        -webkit-transform: translateY(-90px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideInRight {

    0% {
        opacity: 0;
        transform: translateX(20px);
        -webkit-transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}

@keyframes slideInRight {

    0% {
        opacity: 0;
        transform: translateX(20px);
        -webkit-transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}
